<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Add test files here -->
<suite name="TOOLSQAWEBPAGES">
	<suite-files>
		<suite-file
			path="C:\Users\Srinischal.Thiparani\AssessmentTwo\tutorialninja\src\test\resources\suitefiles\homepage.xml" />
	</suite-files>
</suite>